.day_container{
    border: 2px solid gray;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day_paragraph{
    width: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.day_paragraph_today{
    width: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 50%;
    color: white;
}

.day_selection{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 0%;
    cursor: pointer;
}

.day_eventlabel{
    width: 100%;
    padding: 1px;
    margin: 3px;
    margin-bottom: 1px;
    border: 0px;
    border-radius: 5px;
    color:white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.day_color_0{
    background-color: indigo;
}

.day_color_1{
    background-color: gray;
}

.day_color_2{
    background-color: green;
}

.day_color_3{
    background-color: blue;
}

.day_color_4{
    background-color: red;
}

.day_color_5{
    background-color: purple;
}