.overallplanningoverviewcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.subcontainer{
    display: flex;
    gap: 15vw;
}

img{
    border-radius: 50%;
    
}

.overallplanningcreatecontainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.overallplanningloadcontainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

