.smallcalendar_container{
    margin: 9px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.smallcalendar_headerparagraph{
    color: gray;
    font-weight: bold;
}

.smallcalendar_buttonspan{
    display:  flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
    border: 0px;
}

.minicalendar_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.minicalendar_text{
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.smallcalendarday{
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    border: 0px;
}

.smallcalendar_daynow{
    color: white;
    background-color: rgb(59 130 246);
    border-radius: 9999px;
    border: 0px;
}

.smallcalendar_slcDay{
    font-weight: bold;
    border-radius: 9999px;
    background-color: rgb(219 234 254);
    color: rgb(37 99 235);
}

.smallcalendar_daytext{
    font-size: 0.875rem;
    line-height: 1.25rem;
}